<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../assets/style/style.css" />
    <title>Document</title>
  </head>
  <body class="bg-decor-blue">
    <header>
      <nav class="navbar navbar-expand-lg bg-sura navbar-dark">
        <div class="container-fluid">
          <img
            class="navbar-brand"
            src="../../assets/img/Screenshot_2.png"
            href="#"
          />
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="container  text-center text-white">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-4 bg-sura shadow my-5">
            <h1>Autoselect Form</h1>
          </div>
        </div>
      </div>
    </section>

    <main>
      <section>
        <div class="container text-center">
          <div class="row d-flex justify-content-around  my-4 me-5">
            <div class="col-6 col-md-5">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-12 col-md-8">
                  <div class="input-group flex-nowrap d-flex justify-content-around mb-3 mt-3">
                    <div class="col col-md-4">
                      <span
                      class="input-group-text border-none text-white bg-sura fw-bold border-box-blue"
                      id="addon-wrapping"
                      >CEDULA</span
                    >
                    </div>
                   <div class="col col-md-7">
                    <input
                    type="text"
                    class="form-control border-box-blue"
                    aria-label="Username"
                    aria-describedby="addon-wrapping"
                  />
                   </div>
                  </div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <p class="btn btn-primary bg-sura fw-bold border-box-blue">
                    CONSULTAR
                  </p>
                </div>
              </div>

              <div class="input-group flex-nowrap d-block g-2 mb-3 mt-3">
                <div class="col col-md-6">
                  <span
                  class="input-group-text bg-decor-blue fw-bold border-box-blue"
                  id="addon-wrapping"
                  >NOMBRE DE LA PERSONA</span
                >
                </div>
                <div class="col col-md-7 my-2">
                  <input
                  type="text"
                  class="form-control text-center"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                />
                </div>
              </div>

              <div class="input-group flex-nowrap d-block justify-content-between mb-3 mt-3">
                <div class="col col-md-7 my-2">
                  <span
                  class="input-group-text bg-decor-blue fw-bold border-box-blue"
                  id="addon-wrapping"
                  >NUMERO DE DOCUMENTO</span
                >
                </div>
                <div class="col col-md-7">
                  <input
                  type="text"
                  class="form-control text-center"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                />
                </div>
              </div>

              <div class="input-group flex-nowrap d-block mb-3 mt-3">
                <div class="col col-md-3">
                  <span
                  class="input-group-text bg-decor-blue fw-bold border-box-blue"
                  id="addon-wrapping"
                  >CELULAR</span
                >
                </div>
                <div class="col col-md-7 my-2">
                  <input
                  type="text"
                  class="form-control text-center"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                />
                </div>
                
              </div>

              <div class="input-group flex-nowrap d-block mb-3 mt-3">
                <div class="col col-md-5">
                  <span
                  class="input-group-text bg-decor-blue fw-bold border-box-blue"
                  id="addon-wrapping"
                  >CORREO</span
                >
                </div>
                <div class="col col-md-7 my-2 ">
                  <input
                  type="text"
                  class="form-control text-center"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                />
                </div>
              </div>

              <div class="input-group d-block mb-3">
                <div class="col col-md-7">
                  <label
                  class="input-group-text bg-decor-blue fw-bold border-box-blue"
                  for="inputGroupSelect01"
                  >FORMACION ACADEMICA</label
                >
                </div>
                <div class="col col-md-7">
                  <select class="form-select text-center" id="inputGroupSelect01">
                    <option selected></option>
                    <option value="1">Bachiller</option>
                    <option value="2">Tecnico/Tecnologo</option>
                    <option value="3">Profesional</option>
                  </select>
                </div>
              </div>

            </div>
            <div class="col-6 col-md-5 ">
              <div class="input-group flex-nowrap mb-3 mt-3">
                <span
                  class="input-group-text text-white bg-sura fw-bold border-box-blue"
                  id="addon-wrapping"
                  >FECHA DE LA ENTREVISTA</span
                >
                <input
                  type="date"
                  class="form-control text-center"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                />
              </div>

              <div class="input-group flex-nowrap mb-3 mt-3">
                <span
                  class="input-group-text text-white bg-sura fw-bold border-box-blue"
                  id="addon-wrapping"
                  >POSICIÓN</span
                >
                <input
                  type="text"
                  class="form-control text-center"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                />
              </div>

              <div class="input-group flex-nowrap mb-3 mt-3">
                <span
                  class="input-group-text text-white bg-sura fw-bold border-box-blue"
                  id="addon-wrapping"
                  >CARGO</span
                >
                <input
                  type="text"
                  class="form-control text-center"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                />
              </div>

              <div class="input-group mb-3">
                <label
                  class="input-group-text text-white bg-sura fw-bold border-box-blue"
                  for="inputGroupSelect01"
                  >CIUDAD DEL CARGO</label
                >
                <select class="form-select text-center" id="inputGroupSelect01">
                  <option selected></option>
                  <option value="1">Bachiller</option>
                  <option value="2">Tecnico/Tecnologo</option>
                  <option value="3">Profesional</option>
                </select>
              </div>

              <div class="input-group mb-3">
                <label
                  class="input-group-text text-white bg-sura fw-bold border-box-blue"
                  for="inputGroupSelect01"
                  >MODALIDAD DE CONTRATACION</label
                >
                <select class="form-select text-center" id="inputGroupSelect01">
                  <option selected></option>
                  <option value="1">Bachiller</option>
                  <option value="2">Tecnico/Tecnologo</option>
                  <option value="3">Profesional</option>
                </select>
              </div>

              <div class="input-group flex-nowrap mb-3 mt-3">
                <span
                  class="input-group-text text-white bg-sura fw-bold border-box-blue"
                  id="addon-wrapping"
                  >TIPO DE CANDIDATO</span
                >
                <input
                  type="text"
                  class="form-control text-center"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                />
              </div>





            </div>
          </div>
        </div>
      </div>
        </div>
        <section>
          <div class="container my-4 ">
            <div class="row text-center">
              <div id="accordion" role="tablist">
                <div class="card my-3">
                  <div class="card-header bg-sura" role="tab" id="headingOne">
                    <h5 class="mb-0">
                      <a class="text-decoration-none  text-white" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        APRENDIZAJE CONTINUO
                      </a>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card bg-decor-veryLightBlue">
                      <div class="row text-start mx-auto d-flex justify-content-center">
                        <p>Una persona que muestra interés y flexibilidad por adquirir nuevos conocimientos, competencias y experiencias que contribuyan a mejorar su desempeño. Y en sus comportamientos observamos que…</p>
                      </div>
                      <div class="row d-flex justify-content-between my-4">
                        <div class="col col-md-8 border text-start ms-2 border-danger">
                          <p>Incorpora nuevos conocimientos y aplica su experiencia para resolver situaciones novedosas.</p>
                        </div>
                        <div class="col col-md-3 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-between my-4">
                        <div class="col col col-md-7 border text-start ms-2 border-danger">
                          <p>Se muestra interesado y flexible frente a nuevos retos y oportunidades de aprendizaje.</p>
                        </div>
                        <div class="col col col-md-3 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row row d-flex justify-content-between my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Extrae lecciones aprendidas de los errores y las pone en práctica.</p>
                        </div>
                        <div class="col col-md-3 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card my-3">
                  <div class="card-header bg-sura" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                      <a class="text-decoration-none text-white" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                        ESCUCHA
                      </a>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card bg-decor-veryLightBlue">
                      <div class="row text-start mx-auto d-flex justify-content-center border border-danger">
                        <p>Una persona que reconoce y valora lo que el otro dice y hace, aún si se trata de posturas distintas a la propia. Y en sus comportamiento observamos que…</p>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Reconoce la influencia de las emociones en lo que el otro dice y hace.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col col-md-7 border text-start ms-2 border-danger">
                          <p>Hace preguntas sobre lo que los demás expresan.</p>
                        </div>
                        <div class="col col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Valora e incorpora lo que otros dicen en su manera de actuar</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card my-3">
                  <div class="card-header bg-sura" role="tab" id="headingThree">
                    <h5 class="mb-0">
                      <a class="text-decoration-none text-white" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                        ORIENTACION AL SERVICIO
                      </a>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card bg-decor-veryLightBlue">
                      <div class="row text-start mx-auto d-flex justify-content-center border border-danger">
                        <p>Una persona que implementa acciones de manera resolutiva para mejorar la experiencia de las personas, comprendiendo las necesidades de los otros con sensibilidad y receptividad. Y en sus comportamiento observamos que…</p>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Indaga por las expectativas y necesidades de las personas</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col col-md-7 border text-start ms-2 border-danger">
                          <p>Se anticipa con soluciones a las necesidades de las personas.</p>
                        </div>
                        <div class="col col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Articula a las personas y los procesos necesarios para resolver las necesidades de las personas.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card my-3">
                  <div class="card-header bg-sura" role="tab" id="headingOne">
                    <h5 class="mb-0">
                      <a class="text-decoration-none text-white" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                        CREATIVIDAD
                      </a>
                    </h5>
                  </div>
                  <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card bg-decor-veryLightBlue">
                      <div class="row text-start mx-auto d-flex justify-content-center border border-danger">
                        <p>Una persona que propone y desarrolla transformaciones en la manera de hacer las cosas explorando diferentes alternativas para el mejoramiento de su trabajo. Y en sus comportamiento observamos que…</p>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Propone e implementa nuevas formas de hacer las cosas para generar cambios.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col col-md-7 border text-start ms-2 border-danger">
                          <p>Identifica oportunidades en diversos contextos generando nuevas ideas.</p>
                        </div>
                        <div class="col col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Experimenta para encontrar soluciones nuevas.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card my-3">
                  <div class="card-header bg-sura" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                      <a class="text-decoration-none text-white" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                        ORIENTACION AL LOGRO
                      </a>
                    </h5>
                  </div>
                  <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card bg-decor-veryLightBlue">
                      <div class="row text-start ms-0 d-flex justify-content-start border border-danger">
                        <p>Una persona que impulsa y alcanza resultados. Y en sus comportamiento observamos que…</p>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Establece objetivos claros y alcanzables.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col col-md-7 border text-start ms-2 border-danger">
                          <p>Implementa acciones para el logro de los objetivos individuales y de los equipos en los que participa.</p>
                        </div>
                        <div class="col col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Alcanza las metas con un buen desempeño.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card my-3">
                  <div class="card-header bg-sura" role="tab" id="headingThree">
                    <h5 class="mb-0">
                      <a class="text-decoration-none text-white" data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                        PESANMIENTO SISTEMICO
                      </a>
                    </h5>
                  </div>
                  <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card bg-decor-veryLightBlue">
                      <div class="row text-start mx-auto d-flex justify-content-center border border-danger">
                        <p>Una persona que conecta variables internas y externas con la realidad de la compañía para tomar decisiones y resolver problemas. Y en sus comportamiento observamos que…</p>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Observa y comprende las dinámicas del entorno que pueden impactar a la compañía.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col col-md-7 border text-start ms-2 border-danger">
                          <p>Utiliza su capacidad de análisis para la proyección de escenarios futuros.</p>
                        </div>
                        <div class="col col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Relaciona e integra las diferentes variables implicadas en un problema o situación.  </p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card my-3">
                  <div class="card-header bg-sura" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                      <a class="text-decoration-none text-white" data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseOne">
                        COMUNICACION ASERTIVA
                      </a>
                    </h5>
                  </div>
                  <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card bg-decor-veryLightBlue">
                      <div class="row text-start mx-auto d-flex justify-content-center border border-danger">
                        <p>Una persona que tiene habilidades para comunicarse efectivamente con otros, expresando con claridad sus ideas y puntos de vista, teniendo en cuenta los de los demás. Y en sus comportamiento observamos que…</p>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Indaga y escucha las posturas de los demás y busca comprenderlas.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col col-md-7 border text-start ms-2 border-danger">
                          <p>Ajusta su lenguaje de acuerdo al contexto, al público y al medio por el cual se está comunicando (Presencial – Telefónico –  Virtual – Escrito).</p>
                        </div>
                        <div class="col col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Argumenta su posición sin invalidar a los demás.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card my-3">
                  <div class="card-header bg-sura" role="tab" id="headingThree">
                    <h5 class="mb-0">
                      <a class="text-decoration-none text-white" data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseOne">
                        DESARROLLO DE PERSONAS Y EQUIPOS
                      </a>
                    </h5>
                  </div>
                  <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card bg-decor-veryLightBlue">
                      <div class="row text-start mx-auto d-flex justify-content-center border border-danger">
                        <p>Una persona que identifica el potencial de las personas y los equipos acompañando procesos de aprendizaje que contribuya a su desarrollo. Y en sus comportamiento observamos que…</p>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Identifica los talentos diversos en personas y equipos promoviendo la complementariedad.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-between border border-danger my-4">
                        <div class="col col col-md-7 border text-start ms-2 border-danger">
                          <p>Promueve ambientes donde las personas se sientan seguras para expresarse.</p>
                        </div>
                        <div class="col col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row row d-flex justify-content-between border border-danger my-4">
                        <div class="col col-md-7 border text-start ms-2 border-danger">
                          <p>Retroalimenta a personas y equipos para que se empoderen de su desarrollo.</p>
                        </div>
                        <div class="col col-md-4 d-flex align-items-center  border border-danger">
                          <div class="input-group d-flex justify-content-center ">
                            <div class="col col-md-6 border border-danger">
                              <select class="form-select text-center" id="inputGroupSelect01">
                                <option selected></option>
                                <option value="1">0 No Aplica</option>
                                <option value="2">Tecnico/Tecnologo</option>
                                <option value="3">Profesional</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="container">
          <div class="row d-flex align-items-center justify-content-center my-5">
            <div
              class="col-12 col-md-2 btn btn-primary border-box-blue bg-sura shadow text-center text-white"
            >
              <p class="my-auto">Guardar/Actualizar</p>
            </div>
            <div class="col-12 col-md-2">

            </div>
            <div
              class="col-12 col-md-2  btn btn-primary border-box-blue bg-sura shadow text-center text-white"
            >
              <p class="my-auto">Previsualizar Informe</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    
    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js" integrity="sha384-CPFFlrdhp9pDDCqRqdTKNZ5oAHsnfnvHGt0CsRIeL5Gc7V/OkP1Y4w8zTxlV3mat" crossorigin="anonymous"></script>
<script src="https://cdn.ucf.edu/athena-framework/v1.1.3/js/framework.min.js"></script>
  </body>
</html>
